<div class="fr">
<h2>Pixel Palace&nbsp;<small>La mejor tienda de videojuegos en linea.</small></h2>
</div>
<div class="jumbotron">
	<div class="container">
		<h3 class="text-center" ng-show="items.length < 1">Lo sentimos, no hay articulos que mostrar para estos criterios</h3>
		<h3 class="text-center"><small><a href="" ui-sref="overview">Volver al menú principal</a></small></h3>
		<div class="row">
		  <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="item in items track by $index">
		    <div class="thumbnail" style="height:500px;">
		      <img src="images/articles/{{item.i_articulo}}.jpg" alt="{{item.n_articulo}}" style="height:40%;">
		      <div class="caption">
		        <h3>{{item.n_articulo}}</h3>
		        <p>{{item.e_articulo}}</p>
		        <p><a href="" ui-sref="item_view({i_articulo: item.i_articulo})" class="btn btn-primary" role="button">Más</a> &nbsp; ${{item.q_precioVenta}}</p>
		    </div>
		  </div>
		</div>
		
	</div>
</div>
