<div class="formulary-page">
	<div ng-show="personaerror" class="alert alert-danger" style="position:relative;">
	  <strong>ERROR</strong> {{errMessg}}
	</div>
	<div class="row img-container">
		<div class="text-center photo">
			<h1>CREA TU PERFIL</h1>
		</div>
	</div>
		
	<div class=" row form-content">
		<form role="form" name="persona" class="centeredobj bottom-75" novalidate ng-submit="submit(persona.$valid)">
		<div class="centeredobj">
			<div class="form-groups col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<div class="form-group">
					<input type="text" class="form-control input-lg" name="nombre" ng-model="profile.n_persona" placeholder="Nombre" required>
				</div>
				<div class="error" ng-show="persona.$submitted || persona.nombre.$touched"><span ng-show="persona.nombre.$error.required">Escriba su nombre.</span></div>
				<div class="form-group">
					<input type="text" class="form-control input-lg" name="apellidop" ng-model="profile.n_apaterno" placeholder="Appellido Paterno" required>
				</div>
				<div class="error" ng-show="persona.$submitted || persona.apellidop.$touched"><span ng-show="persona.apellidop.$error.required">Escriba su apellido paterno.</span></div>
				<div class="form-group">
					<input type="text" class="form-control input-lg" name="apellidom" ng-model="profile.n_amaterno" placeholder="Appellido Materno">
				</div>
				<div class="form-group">
					<span>Seleccione su genero</span>
					<select class="form-control input-lg" name="genero" ng-model="profile.i_genero" required>
						<option value="M">Masculino</option>
						<option value="F">Femenino</option>
					</select>
				</div>
				<div class="error" ng-show="persona.$submitted || persona.genero.$touched"><span ng-show="persona.genero.$error.required">Indique su genero.</span></div>

				<div class="form-group">
					<input type="email" class="form-control input-lg" name="email" ng-model="profile.e_email" placeholder="Correo@electronico" required>
				</div>
				<div class="error" ng-show="persona.$submitted || persona.email.$touched"><span ng-show="persona.email.$error.required">Escriba su correo electronico.</span></div>	
			</div>	
			<div class="button-container col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
			</div>
		</div>
		<div class="remember col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<span ui-sref="dashboard">Cancelar</span>
		</div>			
		</form>
	</div>			

</div>