<div class="login-page">
	<div ng-show="signinerror" class="alert alert-danger" style="position:relative;">
	  <strong>ERROR</strong> {{errMessg}}
	</div>
	<div class="row img-container">
		<div class="text-center photo">
			<h1>CREA UNA CUENTA</h1>
			<h1><small>Es muy sencillo</small></h1>
		</div>
	</div>
		
	<div class=" row form-content">
		<form role="form" name="signin" class="centeredobj bottom-75" novalidate ng-submit="submit(signin.$valid)">
		<div class="centeredobj">
			<div class="form-groups col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<div class="form-group">
					<input type="text" class="form-control input-lg" name="user" ng-model="user.username" placeholder="Usuario" required>
				</div>
				<div class="error" ng-show="signin.$submitted || signin.user.$touched"><span ng-show="signin.user.$error.required">Se requiere un usuario.</span></div>
				<div class="form-group">
					<input type="password" class="form-control input-lg" name="pass" ng-model="user.password" placeholder="Contraseña" required>
				</div>
				<div class="error" ng-show="signin.$submitted || signin.pass.$touched"><span ng-show="signin.pass.$error.required">Se requiere una contraseña.</span></div>
				<div class="form-group">
					<input type="password" class="form-control input-lg" name="pass2" ng-model="passwordconfirm" placeholder="Confirma tu contraseña" required>
				</div>
				<div class="error" ng-show="signin.$submitted || signin.pass2.$touched">
					<span ng-show="signin.pass2.$error.required">Se requiere una contraseña.</span><br>
					<span ng-show="user.password != passwordconfirm">Ambas contraseñas deben coincidir.</span>
				</div>
					
			</div>	
			<div class="button-container col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
			</div>
		</div>
		<div class="remember col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p class="text-center error" ng-show="credentialsError">Verifica tu usuario y contraseña.</p>
			<span ui-sref="dashboard">Cancelar</span>
		</div>			
		</form>
	</div>			

</div>